body {
  font-family: Roboto, sans-serif;
  margin: 20px;
  text-align: center;
.navbar .menu-toggle {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  height: 100%;
}
nav ul li {
  margin-right: 20px;  /* Adjusts spacing between nav items */
}
  margin-top: 80px;

  .container .row .col .card .card-book p::first-letter {
    text-transform: uppercase;
 
}


.card {
  width: 300px;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.6s;
  margin: 40px 10px 10px 10px;
}

.card-body a btn {
  margin-bottom: 20px;
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;

.card-body a.btn {
  margin-bottom: 20px;
}
}

.card:hover {
  transform: translate(-20px);
}
.book img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: blue;
}

p{
  font-size: 20px;
  font-weight: bold;
}

  /* Footer Styling */

  footer {
    position: fixed;
    bottom: 0; /* Initially hidden */
    left: 0;
    width: 100%;
    background-color: #111; /* Adjust as needed */
    color: white;
    padding: 15px;
    text-align: center;
    transition: bottom 0.3s ease-in-out;
    background: #222;
}
}

 
  .footer-links {
    margin-bottom: 30px;
  }
  
  .footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    justify-content: center;
  }
  
  /* Responsive Styles */
  @media (max-width: 980px) {
    nav ul {
      flex-direction: column;
      display: none;
      background: #333;
      position: absolute;
      top: 60px;
      right: 20px;
      padding: 10px;
      border-radius: 5px;
    }
    nav ul li {
      margin: 10px 0;
    }
    .menu-toggle {
      display: flex;
    }
  }

  
